.container {
    display: grid;
    justify-items: stretch;
    width: 500px;
    height: 500px;
    grid-template-columns: repeat(4, 1fr);
    border: 1px solid black;
}

.colored {
    background-color: black;
}
